/* Empty. Add your own CSS if you like */
.roundbutton {
  border-radius:50px;
}

.scroll-content{
  background: url('../img/splash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
