<ion-view view-title="Game">
  <ion-content>
    <h3 class="padding">Most Recent Plays</h3>
    <div class="row" collection-repeat="item in recentPlays">
        <ion-item class="item-borderless" style="width:100%">
          <div style="width:49%;float:left;font-weight: bold;">{{item.type}}</div>
          <div style="width:49%;float:right;color:{{item.color}};font-weight: bold;">{{item.result}}</div>
        </ion-item>
    </div>

    <div ng-show="isStartedGame">
      <h3 class="padding">{{activeQuestion.question}}</h3>

      <div class="row">
        <div class="col">
          <a class="button button-full button-positive roundbutton" href="/#/app/success">{{activeQuestion.answer1.answer}}</a>
        </div>
        <div class="col" style="vertical-align:middle;line-height:50px;">
          <span>{{activeQuestion.answer1.percentage}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a class="button button-full button-positive roundbutton" href="/#/app/success">{{activeQuestion.answer2.answer}}</a>
          </div>
          <div class="col" style="vertical-align:middle;line-height:50px;">
            {{activeQuestion.answer2.percentage}}
          </div>
      </div>

      <div class="row">
        <div class="col">
        <a class="button button-full button-positive roundbutton" href="/#/app/success">{{activeQuestion.answer3.answer}}</a>
        </div>
        <div class="col" style="vertical-align:middle;line-height:50px;">
          {{activeQuestion.answer3.percentage}}
        </div>
      </div>
    </div>



      <div class="row row-bottom" ng-show="!isStartedGame" style="vertical-align: middle;">
        <button class="button button-full button-positive" ng-click="startGame()">Play</button>
      </div>
    </div>
  </ion-content>
</ion-view>
