<ion-view view-title="Prizes">
  <ion-content>
    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="img/beer.jpg"><br>
        <!--<span class="bottom">$2 off Beer</span>-->
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="img/jersey.jpg"><br>
        <!--<span class="bottom">20% off at NFL store</span>-->
      </div>
    </div>

    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">$2 off Beer</span>
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">20% off at NFL store</span>
      </div>
    </div>

    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="img/bottle.png"><br>
        <!--<span class="bottom">$2 off Beer</span>-->
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="img/shirt.png"><br>
        <!--<span class="bottom">20% off at NFL store</span>-->
      </div>
    </div>

    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">More Free Stuff!</span>
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">More Free Stuff!</span>
      </div>
    </div>

    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="http://placehold.it/240x240"><br>
        <!--<span class="bottom">$2 off Beer</span>-->
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <img style="width:50%;vertical-align:middle;text-align:center;" src="http://placehold.it/240x240"><br>
        <!--<span class="bottom">20% off at NFL store</span>-->
      </div>
    </div>

    <div class="row">
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">More Free Stuff!</span>
      </div>
      <div class="col" style="vertical-align:middle;text-align:center;">
        <span class="bottom">More Free Stuff!</span>
      </div>
    </div>
  </ion-content>
</ion-view>
